In [1]:
import numpy as np
import pandas as pd

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

RSEED=50

In [4]:
df = pd.read_csv('2015.csv').sample(100000, random_state=RSEED)
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
383119,49.0,4.0,b'05192015',b'05',b'19',b'2015',1100.0,2.015009e+09,2.015009e+09,NaN,...,4.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
55536,9.0,9.0,b'09232015',b'09',b'23',b'2015',1100.0,2.015005e+09,2.015005e+09,1.0,...,2.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
267093,34.0,10.0,b'11052015',b'11',b'05',b'2015',1100.0,2.015011e+09,2.015011e+09,NaN,...,4.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
319092,41.0,4.0,b'04062015',b'04',b'06',b'2015',1100.0,2.015002e+09,2.015002e+09,1.0,...,2.0,2.0,2.0,2.0,3.0,1.0,1.0,2.0,1.0,2.0
420978,54.0,5.0,b'05112015',b'05',b'11',b'2015',1100.0,2.015004e+09,2.015004e+09,NaN,...,1.0,1.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0

In [5]:
df = df.select_dtypes('number')

In [7]:
df['_RFHLTH']

383119    1.0
55536     1.0
267093    1.0
319092    1.0
420978    1.0
         ...
223705    1.0
193441    1.0
39766     1.0
142057    1.0
386390    1.0
Name: _RFHLTH, Length: 100000, dtype: float64

In [8]:
df['_RFHLTH'].value_counts()

1.0    81140
2.0    18579
9.0      281
Name: _RFHLTH, dtype: int64

In [11]:
df['_RFHLTH'] = df['_RFHLTH'].replace({2: 0, 9: 0})
df['_RFHLTH'].value_counts()

1.0    81140
0.0    18860
Name: _RFHLTH, dtype: int64

In [12]:
df = df.loc[df['_RFHLTH'].isin([0, 1])].copy()
df.head()

,_STATE,FMONTH,DISPCODE,SEQNO,_PSU,CTELENUM,PVTRESD1,COLGHOUS,STATERES,CELLFON3,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
383119,49.0,4.0,1100.0,2.015009e+09,2.015009e+09,NaN,NaN,NaN,NaN,NaN,...,4.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
55536,9.0,9.0,1100.0,2.015005e+09,2.015005e+09,1.0,1.0,NaN,1.0,1.0,...,2.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
267093,34.0,10.0,1100.0,2.015011e+09,2.015011e+09,NaN,NaN,NaN,NaN,NaN,...,4.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
319092,41.0,4.0,1100.0,2.015002e+09,2.015002e+09,1.0,1.0,NaN,1.0,1.0,...,2.0,2.0,2.0,2.0,3.0,1.0,1.0,2.0,1.0,2.0
420978,54.0,5.0,1100.0,2.015004e+09,2.015004e+09,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0

In [14]:
print(df['_RFHLTH'].isin([0, 1]))
df['_RFHLTH']

383119    True
55536     True
267093    True
319092    True
420978    True
          ...
223705    True
193441    True
39766     True
142057    True
386390    True
Name: _RFHLTH, Length: 100000, dtype: bool

383119    1.0
55536     1.0
267093    1.0
319092    1.0
420978    1.0
         ...
223705    1.0
193441    1.0
39766     1.0
142057    1.0
386390    1.0
Name: _RFHLTH, Length: 100000, dtype: float64

In [15]:
df = df.rename(columns={'_RFHLTH': 'label'})
df['label'].value_counts()

1.0    81140
0.0    18860
Name: label, dtype: int64

In [16]:
# Remove columns with missing values
df = df.drop(columns = ['POORHLTH', 'PHYSHLTH', 'GENHLTH', 'PAINACT2', 
                        'QLMENTL2', 'QLSTRES2', 'QLHLTH2', 'HLTHPLN1', 'MENTHLTH'])

In [17]:
df.head()

,_STATE,FMONTH,DISPCODE,SEQNO,_PSU,CTELENUM,PVTRESD1,COLGHOUS,STATERES,CELLFON3,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
383119,49.0,4.0,1100.0,2.015009e+09,2.015009e+09,NaN,NaN,NaN,NaN,NaN,...,4.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
55536,9.0,9.0,1100.0,2.015005e+09,2.015005e+09,1.0,1.0,NaN,1.0,1.0,...,2.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
267093,34.0,10.0,1100.0,2.015011e+09,2.015011e+09,NaN,NaN,NaN,NaN,NaN,...,4.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
319092,41.0,4.0,1100.0,2.015002e+09,2.015002e+09,1.0,1.0,NaN,1.0,1.0,...,2.0,2.0,2.0,2.0,3.0,1.0,1.0,2.0,1.0,2.0
420978,54.0,5.0,1100.0,2.015004e+09,2.015004e+09,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0

In [18]:
from sklearn.model_selection import train_test_split

#Extracting The Labels
labels = np.array(df.pop('label'))

# Putting 30% Of all the Sample into The Test Data
train, test, train_labels, test_labels = train_test_split(df, labels, stratify=labels, test_size= 0.3, random_state = RSEED)

In [19]:
train

,_STATE,FMONTH,DISPCODE,SEQNO,_PSU,CTELENUM,PVTRESD1,COLGHOUS,STATERES,CELLFON3,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
191495,26.0,4.0,1200.0,2.015008e+09,2.015008e+09,NaN,NaN,NaN,NaN,NaN,...,9.0,9.0,3.0,3.0,4.0,9.0,9.0,NaN,NaN,NaN
373551,48.0,10.0,1200.0,2.015014e+09,2.015014e+09,NaN,NaN,NaN,NaN,NaN,...,4.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,NaN
356834,47.0,11.0,1100.0,2.015003e+09,2.015003e+09,1.0,1.0,NaN,1.0,2.0,...,1.0,1.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,1.0
292263,37.0,9.0,1100.0,2.015006e+09,2.015006e+09,NaN,NaN,NaN,NaN,NaN,...,9.0,9.0,3.0,3.0,4.0,1.0,1.0,1.0,1.0,2.0
132699,20.0,12.0,1200.0,2.015017e+09,2.015017e+09,NaN,NaN,NaN,NaN,NaN,...,9.0,9.0,3.0,3.0,4.0,9.0,9.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251400,33.0,5.0,1100.0,2.015002e+09,2.015002e+09,1.0,1.0,NaN,1.0,1.0,...,4.0,2.0,3.0,3.0,4.0,2.0,2.0,2.0,1.0,2.0
422207,54.0,11.0,1100.0,2.015005e+09,2.015005e+09,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,1.0
177435,25.0,2.0,1100.0,2.015003e+09,2.015003e+09,1.0,1.0,NaN,1.0,1.0,...,3.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
56609,9.0,10.0,1100.0,2.015006e+09,2.015006e+09,1.0,1.0,NaN,1.0,1.0,...,2.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,9.0
19417,4.0,8.0,1200.0,2.015008e+09,2.015008e+09,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0

In [20]:
train = train.fillna(train.mean())
train

,_STATE,FMONTH,DISPCODE,SEQNO,_PSU,CTELENUM,PVTRESD1,COLGHOUS,STATERES,CELLFON3,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
191495,26.0,4.0,1200.0,2.015008e+09,2.015008e+09,1.0,1.000149,1.0,1.0,1.541651,...,9.0,9.0,3.0,3.0,4.0,9.0,9.0,2.325164,2.44224,1.972238
373551,48.0,10.0,1200.0,2.015014e+09,2.015014e+09,1.0,1.000149,1.0,1.0,1.541651,...,4.0,2.0,3.0,3.0,4.0,1.0,1.0,2.325164,2.44224,1.972238
356834,47.0,11.0,1100.0,2.015003e+09,2.015003e+09,1.0,1.000000,1.0,1.0,2.000000,...,1.0,1.0,3.0,3.0,4.0,1.0,1.0,2.325164,2.44224,1.000000
292263,37.0,9.0,1100.0,2.015006e+09,2.015006e+09,1.0,1.000149,1.0,1.0,1.541651,...,9.0,9.0,3.0,3.0,4.0,1.0,1.0,1.000000,1.00000,2.000000
132699,20.0,12.0,1200.0,2.015017e+09,2.015017e+09,1.0,1.000149,1.0,1.0,1.541651,...,9.0,9.0,3.0,3.0,4.0,9.0,9.0,2.325164,2.44224,1.972238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251400,33.0,5.0,1100.0,2.015002e+09,2.015002e+09,1.0,1.000000,1.0,1.0,1.000000,...,4.0,2.0,3.0,3.0,4.0,2.0,2.0,2.000000,1.00000,2.000000
422207,54.0,11.0,1100.0,2.015005e+09,2.015005e+09,1.0,1.000149,1.0,1.0,1.541651,...,2.0,2.0,3.0,3.0,4.0,1.0,1.0,2.325164,2.44224,1.000000
177435,25.0,2.0,1100.0,2.015003e+09,2.015003e+09,1.0,1.000000,1.0,1.0,1.000000,...,3.0,2.0,3.0,3.0,4.0,1.0,1.0,2.325164,2.44224,2.000000
56609,9.0,10.0,1100.0,2.015006e+09,2.015006e+09,1.0,1.000000,1.0,1.0,1.000000,...,2.0,2.0,3.0,3.0,4.0,1.0,1.0,2.325164,2.44224,9.000000
19417,4.0,8.0,1200.0,2.015008e+09,2.015008e+09,1.0,1.000149,1.0,1.0,1.541651,...,3.0,2.0,3.0,3.0,4.0,1.0,1.0,2.325164,2.44224,2.000000

In [21]:
test = test.fillna(test.mean())
test

,_STATE,FMONTH,DISPCODE,SEQNO,_PSU,CTELENUM,PVTRESD1,COLGHOUS,STATERES,CELLFON3,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
201484,27.0,1.0,1100.0,2.015009e+09,2.015009e+09,1.0,1.000116,1.0,1.0,1.543218,...,2.0,2.0,3.0,3.0,4.0,1.0,1.0,2.297934,2.392073,1.000000
56008,9.0,10.0,1100.0,2.015005e+09,2.015005e+09,1.0,1.000000,1.0,1.0,1.000000,...,4.0,2.0,2.0,2.0,3.0,1.0,1.0,2.297934,2.392073,2.000000
399923,51.0,10.0,1100.0,2.015008e+09,2.015008e+09,1.0,1.000116,1.0,1.0,1.543218,...,9.0,9.0,3.0,3.0,4.0,1.0,1.0,2.297934,2.392073,2.000000
143526,21.0,11.0,1100.0,2.015004e+09,2.015004e+09,1.0,1.000000,1.0,1.0,1.000000,...,1.0,1.0,3.0,3.0,4.0,1.0,1.0,2.297934,2.392073,1.000000
214004,28.0,7.0,1100.0,2.015005e+09,2.015005e+09,1.0,1.000116,1.0,1.0,1.543218,...,4.0,2.0,3.0,3.0,4.0,1.0,1.0,2.297934,2.392073,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271558,35.0,11.0,1100.0,2.015004e+09,2.015004e+09,1.0,1.000000,1.0,1.0,2.000000,...,4.0,2.0,3.0,3.0,4.0,1.0,1.0,2.297934,2.392073,1.000000
100457,17.0,8.0,1100.0,2.015002e+09,2.015002e+09,1.0,1.000000,1.0,1.0,2.000000,...,1.0,1.0,1.0,2.0,3.0,1.0,1.0,1.000000,2.000000,2.000000
321667,41.0,4.0,1100.0,2.015004e+09,2.015004e+09,1.0,1.000116,1.0,1.0,1.543218,...,3.0,2.0,3.0,3.0,4.0,1.0,1.0,2.297934,2.392073,2.000000
392513,51.0,3.0,1100.0,2.015001e+09,2.015001e+09,1.0,1.000000,1.0,1.0,1.000000,...,4.0,2.0,3.0,3.0,4.0,1.0,1.0,1.000000,1.000000,9.000000
106426,18.0,7.0,1200.0,2.015003e+09,2.015003e+09,1.0,1.000000,1.0,1.0,2.000000,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.000000,9.000000,1.984831

In [23]:
features = list(train.columns)
features

['_STATE',
 'FMONTH',
 'DISPCODE',
 'SEQNO',
 '_PSU',
 'CTELENUM',
 'PVTRESD1',
 'COLGHOUS',
 'STATERES',
 'CELLFON3',
 'LADULT',
 'NUMADULT',
 'NUMMEN',
 'NUMWOMEN',
 'CTELNUM1',
 'CELLFON2',
 'CADULT',
 'PVTRESD2',
 'CCLGHOUS',
 'CSTATE',
 'LANDLINE',
 'HHADULT',
 'PERSDOC2',
 'MEDCOST',
 'CHECKUP1',
 'BPHIGH4',
 'BPMEDS',
 'BLOODCHO',
 'CHOLCHK',
 'TOLDHI2',
 'CVDINFR4',
 'CVDCRHD4',
 'CVDSTRK3',
 'ASTHMA3',
 'ASTHNOW',
 'CHCSCNCR',
 'CHCOCNCR',
 'CHCCOPD1',
 'HAVARTH3',
 'ADDEPEV2',
 'CHCKIDNY',
 'DIABETE3',
 'DIABAGE2',
 'SEX',
 'MARITAL',
 'EDUCA',
 'RENTHOM1',
 'NUMHHOL2',
 'NUMPHON2',
 'CPDEMO1',
 'VETERAN3',
 'EMPLOY1',
 'CHILDREN',
 'INCOME2',
 'INTERNET',
 'WEIGHT2',
 'HEIGHT3',
 'PREGNANT',
 'QLACTLM2',
 'USEEQUIP',
 'BLIND',
 'DECIDE',
 'DIFFWALK',
 'DIFFDRES',
 'DIFFALON',
 'SMOKE100',
 'SMOKDAY2',
 'STOPSMK2',
 'LASTSMK2',
 'USENOW3',
 'ALCDAY5',
 'AVEDRNK2',
 'DRNK3GE5',
 'MAXDRNKS',
 'FRUITJU1',
 'FRUIT1',
 'FVBEANS',
 'FVGREEN',
 'FVORANG',
 'VEGETAB1',
 'EXERANY2',
 'EXRACT11',
 'EXEROFT1',
 'EXERHMM1',
 'EXRACT21',
 'EXEROFT2',
 'EXERHMM2',
 'STRENGTH',
 'LMTJOIN3',
 'ARTHDIS2',
 'ARTHSOCL',
 'JOINPAIN',
 'SEATBELT',
 'FLUSHOT6',
 'FLSHTMY2',
 'IMFVPLAC',
 'PNEUVAC3',
 'HIVTST6',
 'HIVTSTD3',
 'WHRTST10',
 'PDIABTST',
 'PREDIAB1',
 'INSULIN',
 'BLDSUGAR',
 'FEETCHK2',
 'DOCTDIAB',
 'CHKHEMO3',
 'FEETCHK',
 'EYEEXAM',
 'DIABEYE',
 'DIABEDU',
 'CAREGIV1',
 'CRGVREL1',
 'CRGVLNG1',
 'CRGVHRS1',
 'CRGVPRB1',
 'CRGVPERS',
 'CRGVHOUS',
 'CRGVMST2',
 'CRGVEXPT',
 'VIDFCLT2',
 'VIREDIF3',
 'VIPRFVS2',
 'VINOCRE2',
 'VIEYEXM2',
 'VIINSUR2',
 'VICTRCT4',
 'VIGLUMA2',
 'VIMACDG2',
 'CIMEMLOS',
 'CDHOUSE',
 'CDASSIST',
 'CDHELP',
 'CDSOCIAL',
 'CDDISCUS',
 'WTCHSALT',
 'LONGWTCH',
 'DRADVISE',
 'ASTHMAGE',
 'ASATTACK',
 'ASERVIST',
 'ASDRVIST',
 'ASRCHKUP',
 'ASACTLIM',
 'ASYMPTOM',
 'ASNOSLEP',
 'ASTHMED3',
 'ASINHALR',
 'HAREHAB1',
 'STREHAB1',
 'CVDASPRN',
 'ASPUNSAF',
 'RLIVPAIN',
 'RDUCHART',
 'RDUCSTRK',
 'ARTTODAY',
 'ARTHWGT',
 'ARTHEXER',
 'ARTHEDU',
 'TETANUS',
 'HPVADVC2',
 'HPVADSHT',
 'SHINGLE2',
 'HADMAM',
 'HOWLONG',
 'HADPAP2',
 'LASTPAP2',
 'HPVTEST',
 'HPLSTTST',
 'HADHYST2',
 'PROFEXAM',
 'LENGEXAM',
 'BLDSTOOL',
 'LSTBLDS3',
 'HADSIGM3',
 'HADSGCO1',
 'LASTSIG3',
 'PCPSAAD2',
 'PCPSADI1',
 'PCPSARE1',
 'PSATEST1',
 'PSATIME',
 'PCPSARS1',
 'PCPSADE1',
 'SCNTMNY1',
 'SCNTMEL1',
 'SCNTPAID',
 'SCNTWRK1',
 'SCNTLPAD',
 'SCNTLWK1',
 'SXORIENT',
 'TRNSGNDR',
 'RCSGENDR',
 'RCSRLTN2',
 'CASTHDX2',
 'CASTHNO2',
 'EMTSUPRT',
 'LSATISFY',
 'ADPLEASR',
 'ADDOWN',
 'ADSLEEP',
 'ADENERGY',
 'ADEAT1',
 'ADFAIL',
 'ADTHINK',
 'ADMOVE',
 'MISTMNT',
 'ADANXEV',
 'QSTVER',
 'QSTLANG',
 'MSCODE',
 '_STSTR',
 '_STRWT',
 '_RAWRAKE',
 '_WT2RAKE',
 '_CHISPNC',
 '_CRACE1',
 '_CPRACE',
 '_CLLCPWT',
 '_DUALUSE',
 '_DUALCOR',
 '_LLCPWT',
 '_HCVU651',
 '_RFHYPE5',
 '_CHOLCHK',
 '_RFCHOL',
 '_MICHD',
 '_LTASTH1',
 '_CASTHM1',
 '_ASTHMS1',
 '_DRDXAR1',
 '_PRACE1',
 '_MRACE1',
 '_HISPANC',
 '_RACE',
 '_RACEG21',
 '_RACEGR3',
 '_RACE_G1',
 '_AGEG5YR',
 '_AGE65YR',
 '_AGE80',
 '_AGE_G',
 'HTIN4',
 'HTM4',
 'WTKG3',
 '_BMI5',
 '_BMI5CAT',
 '_RFBMI5',
 '_CHLDCNT',
 '_EDUCAG',
 '_INCOMG',
 '_SMOKER3',
 '_RFSMOK3',
 'DRNKANY5',
 'DROCDY3_',
 '_RFBING5',
 '_DRNKWEK',
 '_RFDRHV5',
 'FTJUDA1_',
 'FRUTDA1_',
 'BEANDAY_',
 'GRENDAY_',
 'ORNGDAY_',
 'VEGEDA1_',
 '_MISFRTN',
 '_MISVEGN',
 '_FRTRESP',
 '_VEGRESP',
 '_FRUTSUM',
 '_VEGESUM',
 '_FRTLT1',
 '_VEGLT1',
 '_FRT16',
 '_VEG23',
 '_FRUITEX',
 '_VEGETEX',
 '_TOTINDA',
 'METVL11_',
 'METVL21_',
 'MAXVO2_',
 'FC60_',
 'ACTIN11_',
 'ACTIN21_',
 'PADUR1_',
 'PADUR2_',
 'PAFREQ1_',
 'PAFREQ2_',
 '_MINAC11',
 '_MINAC21',
 'STRFREQ_',
 'PAMISS1_',
 'PAMIN11_',
 'PAMIN21_',
 'PA1MIN_',
 'PAVIG11_',
 'PAVIG21_',
 'PA1VIGM_',
 '_PACAT1',
 '_PAINDX1',
 '_PA150R2',
 '_PA300R2',
 '_PA30021',
 '_PASTRNG',
 '_PAREC1',
 '_PASTAE1',
 '_LMTACT1',
 '_LMTWRK1',
 '_LMTSCL1',
 '_RFSEAT2',
 '_RFSEAT3',
 '_FLSHOT6',
 '_PNEUMO2',
 '_AIDTST3']

In [24]:
train.shape

(70000, 313)

In [25]:
test.shape

(30000, 313)

In [26]:
train_labels

array([1., 0., 1., ..., 1., 1., 1.])

In [27]:
test_labels

array([1., 1., 1., ..., 1., 0., 0.])

In [32]:
import sklearn
# Train tree
sklearn.tree.fit(train, train_labels)
#print(f'Decision tree has {tree.tree_.node_count} nodes with maximum depth {tree.tree_.max_depth}.')

AttributeError: module 'sklearn.tree' has no attribute 'fit'